body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/WhatsAppLM1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.container {
    border: 0px solid #dbdbdb;
    background-color: #f0ebeb;
    padding: 40px;
    max-width: 350px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: normal;
    font-family: 'Instagram Sans Script', cursive;
}


input {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 9px 8px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #1877f2;
}

.or {
    margin: 20px 0;
    position: relative;
    text-align: center;
    color: rgb(142, 142, 142);
}

.or::before,
.or::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: rgb(219, 219, 219);
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}
img {
    width: 20px;
    height: 20px;
}
a {
    color: rgb(0, 149, 246);
    text-decoration: none;
}
.facebook-login{
    margin-top: 40px;
    margin-bottom: 20px;
}
.signup-box{
    margin-top: 40px;
    color: rgb(128, 128, 128);
}